{% extends 'base.html' %}

{% block title %} Add New User {% endblock %}

{% block content %} 

{% if error_message %}
    <p class = "alert alert-danger">
        <strong>{{ error_message }}</strong>
    </p>

{% endif %}
   <form action="{% url 'users:processadd' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
        <label>User Name</label>
        <input type="text" name="user_name" id="user_name" class="form-control" value="{{ user_name }}" required>
    </div>

    <div class="form-group">
        <label>First Name</label>
        <input type="text" name="fname" id="fname" class="form-control" value="{{ fname }}" required>
    </div>

    <div class="form-group">
        <label>Last Name</label>
        <input type="text" name="lname" id="lname" class="form-control" value="{{ lname }}"required>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" id="email" class="form-control" value="{{ email }}" required>
    </div>

    <div class="form-group">
        <label>Branch</label>
        <select name = "user_branch" id = "user_branch"  class="custom-select custom-select-sm" value="{{ user.user_branch }}" required>
            <option selected>{{ user.user_branch }}</option>
        {% for branch in branches %}
            <option value="{{branch.branches}}">{{branch.branches}}</option>
        {% endfor %}
        <select>
    </div>

    <div class="form-group">
        <label>Position</label>
        <input type="text" name="position" id="position" class="form-control" value="{{ position }}"required>
    </div>

    <div class="form-group">
        <label>User Image</label>
        <input type="file" name="image" id="image">
    </div>

    <button type="submit" class = "btn btn-success mt-2">Add</button>

    


   </form>
{% endblock %}